body{
  width: 100vw;
  height: 100vh;
  align-items: centre;
  justify-content: centre;
  display: flex;
  flex-direction: column;
}
.header{
  width: 100%;
  height: 50px;
  align-items: centre;
  justify-content: centre;
  display: flex;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid;
  position: fixed;
  top: 0px;
}
.hleft{
  width: 20%;
  height: 50px;
  align-items: centre;
  justify-content: centre;
  display: flex;
}
.hleft span{
  font-size: 30px;
}
.hcenter{
  width: 60%;
  height: 50px;
  align-items: centre;
  justify-content: centre;
  display: flex;
}
.hlogo{
  width: 70px;
}
.hright{
  width: 20%;
  height: 50px;
  align-items: centre;
  justify-content: centre;
  display: flex;
}
.container{
  width: 80%;
  height: 100vh;
}